{

"plugins": [

  ["module-resolver", {

    "root": ["./src"],

    "alias": {
      "components": "./src/components",
      "reducers": "./src/reducers",
      "actions": "./src/actions",
      "componentstyle": "./src/style/components",
      "containers": "./src/containers",
      "containerstyle": "./src/style/containers"

    }

  }]

 ]

}
